@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Poppins:wght@200;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #343f4f;
}

.wrapper{
    display: inline-flex;
}
.wrapper .static-text{
    font-size: 3.6rem;
    font-weight: 400;
    color: #fff;
}
.wrapper .dynamic-text{
    margin-left: 1rem;
    height: 5.4rem;
    line-height: 5.4rem;
    /*
    background-color: red;*/
    overflow: hidden;
}
.dynamic-text li{
    color: #fc6d6d;
    list-style: none;
    font-size: 3.6rem;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12.5s steps(5) infinite;
}
@keyframes slide{
    100%{
        top: -27rem;
    }
}

.dynamic-text li span{
    position: relative;
}
.dynamic-text li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #343f4f;
    border-left: 2px solid #fc6d6d;
    animation: typing 2.5s steps(10) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -2.1rem 0 2.1rem;
    }
}
@keyframes typing{
    50%{
        left: 100%;
        margin: 0 -2.1rem 0 2.1rem;
    }
}